@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}
.about-wrapper{
    position: relative;
    align-items: center;
    justify-content: center;
    display: grid;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    
}

.about-header{
    text-align: center;
    font-size:x-large;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

}

.about-info {
    text-align: center;
    font-size: larger;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

}

.about-cards {
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-top: 2rem;
    
}

.about-card{
    width: 22.5vw;
    max-height: max-content;
    justify-content: center;
    align-items: center;
    display: grid;
    height: 35vh;
    min-width: min-content;
    margin: 0.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    
}

.about-card:hover{

    transform: translateY(-5px);
}

.about-card h3{

    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.about-card p {

    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;

}

@media screen and (max-width: 720px) {
    .about-wrapper{
        display: grid;
        justify-content: center;
        position: relative;
        align-content: center;
    }
    .about-header{
        justify-content: center;
        padding: 0;
    }

    .about-info{
        display: grid;
        text-align: center;
        padding: 0;
        
    }
    .about-img{
        position: relative;
        z-index: 1;
        width: 100%;
    
    }

    .about-cards {
        display: grid;
        position: relative;
        align-content: center;
        margin-top: -5rem ;
        justify-content:center ;
        
    }

    .about-card {
        display: grid;
        position: relative;
        align-content: center;
        align-items: center;
        min-width: 50vw;
        min-height: fit-content;
    }

    .about-card h3{
        justify-items: center;
        font-size: medium;
    }

    .about-card p{
        font-size: small;
    }
}