
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}
.pricing-cards{
    margin-top: 1.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.pricing-card{
    border-radius: 12px;
    align-items: center;
    text-align:center;
    padding: 1rem;
    width: 20vw;
}

.features li {
    list-style: none;
    margin-bottom: 0.5rem;
}

.card-title{
    color: #1b1b1b;
    letter-spacing: 0.05rem;
    font-weight: 400;
    font-size: xx-large; 
    
}


.card-price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    color: #1b1b1b;
    margin: 1.5rem 0;
}
.card-price>span {
    color: #1b1b1b;
    font-size: 1.1rem;
    margin-right: 0.5rem;
}

hr{
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 1.8rem;
    margin-bottom: 1.5rem;
    visibility: visible;
}

hr.first {
    background: #416dea;
    height: 0.15rem;
    border: none;
}

hr.second{
    background: #1b1b1b;
    height: 0.15rem;
    border: none;
}

.card-btn {
    background-color: #416dea;
    color: #fff;
    border-radius: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1.8rem;
    display: flex;
    visibility: hidden;
}

.pricing-card:hover{
    border-radius: 12px;
    background-color: #416dea;
    color: white;
    align-items: center;
    text-align:center;
    display: block;

    .card-title{
        color: #fff;
    }
    .card-price{
        font-size: xx-large;
        color: #fff;
    }
    .card-price>span{
        color: white;
    }
    .card-btn{
        color: #1b1b1b;
        background-color: #fff;
        visibility: visible;
    }

    hr.first{
        background: #fff;
    }

}

@media screen and (max-width: 720px) {
    .pricing-cards{
        display: grid;
        position: relative;
        align-content: center;
    }
    .pricing-card {
        margin-top: 0.5rem;
        height: min-content;
        width: 45vw;
        min-width: 45vw;
    }
}